*{
    margin : 0;
    padding : 0;
}
#container {
    height : 500px;
    width : 500px;
    padding : 10px;
    margin : 10px;
    border : 2px solid black;
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}
.item {
    height : 75px;
    width : 75px;
    padding : 10px;
    margin : 10px;
    border : 2px solid black;
    background-color: lightgreen;
}

#item1 {
    background-color: lightcoral;
}
#item2 {
    background-color: rgb(115, 229, 229);
}
#item3 {
    background-color: rgb(235, 91, 44);
} 